# Data Science and Visualization (RUC F2023)

## Lecture 5: Classification (II)

 # Exercise on Iris Flowers Dataset

## 0. Importing the Required Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

## 1. Loading the Data

In [3]:
data = pd.read_csv('C:\Data\iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
data.shape

(150, 5)

## 2. Feature Selection

Let's first take a look at all columns' information:

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

The 'variety' column contains the class label. So it should be excluded from the features.

In [8]:
features = data.columns.drop(['variety'])
features

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width'], dtype='object')

Class labels:

In [9]:
data.variety.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

Conventionaly, we use **X** to represent all data under the feature columns, and *y* the class label column in the data.

In [10]:
# Features
X = data[features]

# Target variable
y = data.variety

## 3. Splitting the Data, Apply the KNN, and Measure the Performance

In this exercise, we vary the percetage of test data, and the value of K for KNN:

## 4. Cross-Validation

### Standard K-Fold with K=5

### Stratified K-Fold with K=5

###  LeaveOut