# Data Science and Visualization (RUC F2023)

## Lecture 5: Classification (II)

# Exercises: KNN, Data Scaling, ROC and AUC on Titanic Dataset

## 0. Setup and load the data

In [34]:
import os
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics


# You need to change according to where you put your data
os.chdir('C:/Data')
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.shape

## 1. Feature selection

In [35]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We obtain the needed columns only:

In [36]:
titanic = titanic.loc[:, ['Survived', 'Pclass', 'Sex', 'Age']]
titanic

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

We use the average age value to fill in the missing ages:

In [37]:
titanic['Age'].fillna(titanic['Age'].mean(), inplace=True)

We also need to change the Sex string values to numbers: 1 for female and 0 for male:

In [38]:
titanic['Sex'] = np.where(titanic['Sex']=='female', 1, 0)

In [39]:
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
dtype: int64

In [40]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
dtypes: float64(1), int32(1), int64(2)
memory usage: 24.5 KB

To obtain the feature columns and the target variable (Survived column)...

In [41]:
features = titanic.columns.drop(['Survived'])
features

Index(['Pclass', 'Sex', 'Age'], dtype='object')

In [42]:
# Features
X = titanic[features]

# Target variable
y = titanic.Survived

## 2. Effect of Data Scaling

## 3. Cross-Validation for K from 2 to 8, including ROC